@font-face {
  font-family: "Stepalange";
  src: url("/fonts/StepalangeRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@import "mixins";
@import "variables";
@import "base";
